:root {    /* Ir-black by Chris Kempson (http://chriskempson.com) */
    --base00: #000000;
    --base01: #242422;
    --base02: #484844;
    --base03: #6c6c66;
    --base04: #918f88;
    --base05: #b5b3aa;
    --base06: #d9d7cc;
    --base07: #fdfbee;
    --base08: #ff6c60;
    --base09: #e9c062;
    --base0A: #ffffb6;
    --base0B: #a8ff60;
    --base0C: #c6c5fe;
    --base0D: #96cbfe;
    --base0E: #ff73fd;
    --base0F: #b18a3d;

    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base01);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base00);
    --tridactyl-highlight-box-fg: var(--base07);

    /* Hint character tags */
    --tridactyl-hintspan-font-family: "Cascadia Code";
    --tridactyl-hintspan-font-weight: 400;
    --tridactyl-hintspan-font-size: 11px;
    --tridactyl-hintspan-fg: #fff;
    --tridactyl-hintspan-bg: #c21647;
    --tridactyl-hintspan-border-color: #fff;
    --tridactyl-hintspan-border-width: 1px;
    --tridactyl-hintspan-border-style: solid;
    --tridactyl-hint-outline: ;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: 1px solid #000;
    --tridactyl-hint-bg: rgba(255, 208, 0, 0.123);
    --tridactyl-hint-outline: 1px solid var(--tridactyl-hintspan-bg);

    --tridactyl-font-family: "Consolas", sans-serif;

    --tridactyl-cmdl-font-family: "FiraCode NF";
    --tridactyl-cmdl-font-size: 18px;
    --tridactyl-cmdl-line-height: 1.5;

    --tridactyl-cmplt-option-height: 1.5em;
    --tridactyl-cmplt-font-family: "FiraCode NF";
    --tridactyl-cmplt-font-size: var(--tridactyl-small-font-size);
    --tridactyl-cmplt-border-top: unset;

    --tridactyl-status-font-size: 10px;
    --tridactyl-status-font-family: "SF Pro";
    --tridactyl-status-border: none;

    --tridactyl-header-font-size: var(--tridactyl-small-font-size);
    --tridactyl-header-font-weight: 200;
    --tridactyl-header-border-bottom: unset;


}

@keyframes grow {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}

:root #cmdline_iframe {
    position: fixed !important;
    bottom: 10px !important;
    /* top: 25% !important;*/
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
}
.TridactylOwnNamespace body {
    justify-content: flex-end;
}

.TridactylOwnNamespace a {
    color: var(--base0D);
}

:root #command-line-holder {
    order: 1;
    border: 2px solid var(--base0B);
    color: var(--tridactyl-fg);
    background: var(--tridactyl-bg);
}

:root #tridactyl-colon {
    font-size: 24px;
}

:root #tridactyl-input {

}

:root #completions table {
    border-spacing: 0;
    table-layout: fixed;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#completions > div {    max-height: calc(20 * var(--option-height));
    min-height: calc(10 * var(--option-height));
}

/* COMPLETIONS */

#completions {
    color: var(--tridactyl-fg);
    background: var(--tridactyl-bg);
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border-top: unset;
    order: 0;
}

/* Olie doesn't know how CSS inheritance works */
#completions .HistoryCompletionSource {    max-height: unset;
    min-height: unset;
}

#completions .HistoryCompletionSource table {    width: 100%;
    font-size: 9pt;
    border-spacing: 0;
    table-layout: fixed;
}

/* redundancy 2: redundancy 2: more redundancy */
#completions .BmarkCompletionSource {
    max-height: unset;
    min-height: unset;
}

#completions table tr td.prefix,#completions table tr td.privatewindow,#completions table tr td.container,#completions table tr td.icon {
    display: none;
}

#completions .BufferCompletionSource table { }

#completions table tr .title {
    width: 50%;
}

#completions table tr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#completions .sectionHeader {
    background: var(--base01);
    font-weight: 800;
    border-bottom: 1px solid var(--base0D);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-family: "SF Pro";
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--base0D);
}

.TridactylStatusIndicator {    position: fixed !important;
    bottom: 0 !important;
    background: var(--tridactyl-bg) !important;
    border: unset !important;
    font-size: 10px !important;
    padding: 0.8ex !important;
}

#completions .focused {    background: var(--base0B);
    color: var(--base00);
}

#completions .focused .url {    background: var(--base0B);
    color: var(--base00);
}

/* Hints */

span.TridactylHint {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px !important;
    border-radius: 5px !important;
    letter-spacing: 1px !important;
    margin-top: -5px !important;
    margin-left: -5px !important;
    text-align: center !important;
    line-height: 14px !important;
    animation: grow .2s cubic-bezier(.68,-0.55,.27,1.55);
}

.TridactylOwnNamespace .TridactylHintActive {
    color: var(--base00) !important;
    background-color: var(--base0B) !important;
}